body {
    font-size: 14px;
    font-family: arial,sans-serif;
    height: 100%;
    margin: 0;
    background-color: #202124;
}

#main {
    text-align: center;
    margin: 300px 1px 0;
}

#logo_main {
    display: block;
    margin: 0 auto;
}

#input_main {
    color: #e8eaed;
    display: block;
    width: 500px;
    line-height: 18px;
    margin: 20px auto 30px;
    padding: 10px 30px;
    background-color: #202125;
    border: 1px solid #4C4F54;
    border-radius: 20px;
}

#input_main:hover {
    background-color: #303134;
    border: 1px solid #303134;
}

#btn_main {
    display: flex;
    justify-content: center;
}

.btn {
    color: #e8eaed;
    background-color: #303134;
    margin: 0 6px 24px;
    padding: 8px 16px;
    border: 1px solid #303134;
    border-radius:4px;
}

.btn:hover {
    border: 1px solid #4C4F54;
}

#lang_main {
    display: flex;
    justify-content: center;
    line-height: 28px;
}

#text_lang {
    color: #bdc1c6;
    margin: 0;
}

.link_lang {
    color: #8ab4f8;
    text-decoration: none;
    margin: 0 3px;
}

.link_lang:hover {
    text-decoration: underline;
}

#footer_a {
    color: #9aa0a6;
    background: #171717;
    font-size: 15px;
    margin-top: 110px;
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
}

#footer_b {
    text-align: center;
    background: #171717;
    padding: 15px;
}

#img_leaf {
    height: 14px;
    margin-right: 6px;
}

#carbon_emision {
    color: #999da2;
    text-decoration: none;
}

#carbon_emision:hover {
    text-decoration: underline;
}

#footer_c {
    background: #171717;
    display: flex;
    justify-content: space-evenly;
    padding:20px;
}

.link_footer {
    color: #999da2;
    text-decoration: none;
    padding:15px;

}

.link_footer:hover{
    text-decoration: underline;
}